<h2>プロフィール編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(変更がない場合は空白のままで構いません)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field" required:true>
    <%= f.label :current_password %> <i>(本人確認のため現在のパスワードの入力をお願いします)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class= "field mb-3" > 
    <%= f.label :role %>
    <%= f.select :role,  User.roles_i18n.invert, { prompt: '選んでください' }, { class:'form-select', required: true} %>
  </div>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>

<h3>アカウントを削除する</h3>

<div><%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか?", turbo_confirm: "本当に削除しますか?" }, method: :delete %></div>

<%= link_to "Back", :back %>
